<% if correct_group?(post) %>
  <li>
    <span class="picture"><%= image_tag( url_esc_post(100, :original, post) , class: "picture", alt: post.text ) %></span>
    <div class="row post-meta">
      <div class="post-meta2">
        <div class="col-md-8"><span class="text"><%= post.text %></span></div>
        <div class="col-md-4 timestamp">
          Posted <%= time_ago_in_words(post.created_at) %> ago.
        </div>
      </div>
    </div>
    

    <input type="checkbox" id=<%="expand_comments_#{post.id}"%> class="invisible-check-box" role="button">
    <label for=<%="expand_comments_#{post.id}"%> onclick=""><span>Comments (<%= post.comments.count %>)</span><span>Hide comments!</span></label> 
    <div id=<%="comment-section_#{post.id}"%>>
      <div class="comment-inner">
        <ol class="comments" id="append_comments">
          <%= render partial: post.comments %>
        </ol>
        <%= form_for([post, post.comments.build], :remote => true) do |f| %>
        <div class="row">
          <%= render 'shared/error_messages', object: f.object %>
          <div class="col-md-8">
            <%= f.text_area :content, :rows => "2", :placeholder => "Your comment", :class => "comment-content" %>
          </div>
          <div class="col-md-4">
            <%= hidden_field_tag 'gallery_id', @gallery_id %>
            <%= hidden_field_tag 'page', "#{@page}" %>
            <%= f.text_field :name, :placeholder => "Your name", :class => "comment-name" %>
            
            <%= button_tag(type: 'submit', class: "btn btn-sleek") do %>
             <i class="icon-bullhorn icon-black"></i> Submit
            <% end %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <% if admin? %>
        <span class="delete"> 
  	  	<%= link_to "Delete", post, method: :delete,
  	  								data: { confirm: "Are you sure?" },
  	  								title: post.text %>
        | <%= link_to "update", edit_post_path(post.id) %>
  	  </span>
    <% end %>
  </li>
<% end %>

