<header class="navbar navbar-fixed-top navbar-inverse nav-header-a">
  <div class="navbar-inner">
    <div class="container-fluid">
      <%= link_to "Photoblog", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",    root_path %></li>
          <% if signed_in? %>
            <% if admin? %>
              <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Galleries <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "New", newgallery_path %></li>
                  <li class="divider"></li>
                  <li><%= link_to "Overview", galleries_path %></li>
                </ul>
              </li>
              <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Posts <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "New", newpost_path %></li>
                  <li class="divider"></li>
                  <li><%= link_to "Overview", posts_path %></li>
                </ul>
              </li>
              <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Comments <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Overview", comments_path %></li>
                </ul>
              </li>
              <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Users <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Overview", users_path %></li>
                  <li class="divider"></li>
                  <li><%= link_to "Create a user", signup_path %></li>
                </ul>
              </li>
            <% end %>
            <li><%= link_to "Sign Out", signout_path, method: "delete" %></li>
          <% else %>
            <li><%= link_to "Sign In", signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>